<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Password Reset Request</title>
    </head>
    <body>
        <p>
            We have received a request to reset your password for your D-ALAO health-care  account. To proceed with the
            password reset process, please click on the following button:
        </p>
        <p>
            If you did not initiate this request, please ignore this email and take the necessary steps to secure your
            account. You can also contact our customer support team at support@d-aloa.com if you have any
            concerns or need further assistance.
        </p>
        <p>
            Please note that for security reasons, this link is only valid for a limited time. If you do not reset your
            password within the specified time frame, you may need to submit another password reset request.
        </p>
        <a
            href="{{ reset_link }}"
            style="background-color: #4CAF50; border: none; color: white; padding: 12px 24px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;"
        >
            Reset Password
        </a>
        <p>Thank you for choosing Us, we apologize for any inconvenience this may have  caused.</p>
        <p>Best regards,</p>
        <p>D-ALAO Health Team</p>
    </body>
</html>