{% extends 'index.html' %} {% load static %} {% block 'content' %}

<div class="containers">
	<h2>Create Post</h2>
	<p>Create an Informative and Engaging Blog Post on Health Issues, Nutrition, or Ant Health Recruitment.</p>

	<form method='POST'>
		{% csrf_token %}
		<div class="row">
			<div class="col-25">
				<label for="fname">Post Title:</label>
			</div>
			<div class="col-75">{{form.blog_title}}</div>
		</div>
		<div class="row">
			<div class="col-25">
				<label for="lname">Post Description:</label>
			</div>
			<div class="col-75">{{form.blog_description}}</div>
		</div>
		<!---
		<div class="row">
			<div class="col-25">
				<label for="country">Country</label>
			</div>
			<div class="col-75">
				<select
					id="country"
					name="country">
					<option value="australia">Australia</option>
					<option value="canada">Canada</option>
					<option value="usa">USA</option>
				</select>
			</div>
		</div>-->
		<div class="row">
			<div class="col-25">
				<label for="subject">Post Subject:</label>
			</div>
			<div class="col-75">{{form.blog_info}}</div>
		</div>
		<div class="row">
			<button type="submit">Create Post</button>
		</div>
	</form>
</div>

{% endblock 'content' %}
