{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D-ALAO | Appointments</title>
    <link href="{% static 'appointments/css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     
  </head>
  <body>
    <div class="container mt-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-8">
          <form id="regForm">
            <h1 id="register">Appointment</h1>
            <div class="all-steps" id="all-steps">
              <span class="step"><i class="bi bi-person-check"></i></i></span>
              <span class="step"><i class="bi bi-envelope-at"></i></span>
              <span class="step"><i class="bi bi-phone"></i></span>
              <span class="step"><i class="bi bi-alarm"></i></span>
              <span class="step"><i class="bi bi-card-checklist"></i></span>
              
            </div>
            <div class="tab">
              <h6>What's your name?</h6>
              <p>
                <input
                  placeholder="Full Name..."
                  oninput="this.className = ''"
                  name="fname"
                />
              </p>
            </div>
            <div class="tab">
              <h6>What's your email address?</h6>
              <p>
                <input
                  placeholder="Email"
                  oninput="this.className = ''"
                  name="email"
                  type="email"
                />
              </p> 
            </div>
            <div class="tab">
              <h6>phone contact?</h6>
              <p>
                <input
                  placeholder="Phone Contact"
                  oninput="this.className = ''"
                  name="contact"
                  type="tel"
                />
              </p>
            </div>
            <div class="tab">
              <h6>Convenient time for this appointment?</h6>
              <p>
                <input
                  placeholder="Date and Time"
                  oninput="this.className = ''"
                  name="time"
                  type="datetime-local"
                  id="datetimePicker"
                />
              </p>
            </div>

            <div class="tab">
              <h6>What's reason for appointment?</h6>
              <p>
                <input
                  placeholder="Visit reason"
                  oninput="this.className = ''"
                  name="reason"
                />
              </p>
            </div>

            

            
            <div class="thanks-message text-center" id="text-message">
              <img
                src="{% static 'appointments/done.png' %}"
                width="100"
                class="mb-4"
              />
              <h3>Thank you for your feedback!</h3>
              <span
                >Thanks for your valuable information. It has been sent to specialist!</span>
            <a href="{% url 'home' %}">Back Home</a>
            
            </div>
            <div style="overflow: auto" id="nextprevious">
              <div style="float: right">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">
                  <i class="bi bi-arrow-left-short"></i>
                </button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">
                  <i class="bi bi-arrow-right"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static 'appointments/js/jquery.min.js' %}"></script>
    <script src="{% static 'appointments/js/styles.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
