{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta
			content="width=device-width, initial-scale=1.0"
			name="viewport" />

		<title>D-ALAO Health Agency</title>
		<meta
			content="healthcare, health,health recruit, nurses, medical labs "
			name="keywords" />
		<meta
			name="description"
			content=" healthcare organization providing exceptional patient care with compassion and expertise. We also offer recruitment services to healthcare organizations seeking top talent in the industry. With years of experience, we have developed a reputation for delivering exceptional recruitment services to our clients." />

		<!-- Favicons -->
		<link
			href="{% static 'assets/img/favicon.png' %}"
			rel="icon" />
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<!-- Google Fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
			rel="stylesheet" />

		<!-- Vendor CSS Files -->
		<link
			href="{% static 'assets/vendor/aos/aos.css' %}"
			rel="stylesheet" />
		<link
			href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
			rel="stylesheet" />
		<link
			href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
			rel="stylesheet" />
		<link
			href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}"
			rel="stylesheet" />
		<link
			href="{% static 'assets/vendor/remixicon/remixicon.css' %}"
			rel="stylesheet" />
		<link
			href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}"
			rel="stylesheet" />

		<!-- Template Main CSS File -->
		<link
			href="{% static 'assets/css/style.css' %}"
			rel="stylesheet" />
	</head>

	<body>
		<!-- ======= Header ======= -->
		<header
			id="header"
			class="header fixed-top">
			<div class="container-fluid container-xl d-flex align-items-center justify-content-between">
				<a
					href="{% url 'home' %}"
					class="logo d-flex align-items-center">
					<img
						src="{% static 'assets/img/logo.png' %}"
						alt="" />
					<span>D-ALAO</span>
				</a>

				<nav
					id="navbar"
					class="navbar">
					<ul>
						<li>
							<a
								class="nav-link scrollto active"
								href="{% url 'home' %}"
								>Home</a
							>
						</li>
						<li>
							<a
								class="nav-link scrollto"
								href="#about"
								>About</a
							>
						</li>
						{% if request.user.is_authenticated %}
						<li>
							<a
								class="nav-link scrollto"
								href="{% url 'blogs' %}"
								>News</a
							>
						</li>
						{% endif %}
						<li class="dropdown">
							<a href="#"><span>Careers</span> <i class="bi bi-chevron-down"></i></a>
							<ul>
								<li><a href="#">Vacancies - Internal Jobs</a></li>
								<li><a href="#">Start your own Business</a></li>
							</ul>
						</li>
						<li>
							<a
								class="nav-link scrollto"
								href="#contact"
								>Contact</a
							>
						</li>

						{% if request.user.is_authenticated and request.user.is_staff %}
						<li class="dropdown">
							<a href="#"><span>Admin</span> <i class="bi bi-chevron-down"></i></a>
							<ul>
								<li><a href="#">View User</a></li>
								<li><a href="#">Appointments</a></li>
								<li><a href="#">Email User</a></li>
								<li><a href="{% url 'admin:index' %}">Main Panel</a></li>
							</ul>
						</li>
						{% endif %}

						<li>
							{% if request.user.is_authenticated %}
							<a
								href="signout"
								class="getstarted scrollto"
								href="#about"
								>Sign Out</a
							>
							{% else %}
							<a
								href="{% url 'signin' %}"
								class="getstarted scrollto"
								href="#about"
								>Sign In</a
							>
							{% endif %}
						</li>
					</ul>
					<i class="bi bi-list mobile-nav-toggle"></i>
				</nav>
			</div>
		</header>

		{% block 'content' %}{% endblock 'content' %}

		<footer
			id="footer"
			class="footer">
			<div class="footer-newsletter">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-12 text-center">
							<h4>Newsletter</h4>
							<p>Leave your email let's keep in touch!</p>
						</div>
						<div class="col-lg-6">
							<input
								type="email"
								name="email"
								id="newsletter"
								required />
							<input
								type="submit"
								value="Subscribe" />
						</div>
					</div>
				</div>
			</div>

			<div class="footer-top">
				<div class="container">
					<div class="row gy-4">
						<div class="col-lg-5 col-md-12 footer-info">
							<a
								href="index.html"
								class="logo d-flex align-items-center">
								<img
									src="{% static 'assets/img/logo.png' %}"
									alt="" />
								<span>Why us</span>
							</a>
							<p>
								D ALAO Our health agency recruitment platform is always at your service. We operate 24/7 to provide you with the best possible assistance in finding
								the right healthcare job. Whether you're a job seeker or an employer, we're committed to ensuring that your experience with us is seamless and
								efficient. Trust us to help you take your career to the next level!
							</p>
							<div class="social-links mt-3">
								<a
									href="#"
									class="twitter"
									><i class="bi bi-twitter"></i
								></a>
								<a
									href="#"
									class="facebook"
									><i class="bi bi-facebook"></i
								></a>
								<a
									href="#"
									class="linkedin"
									><i class="bi bi-linkedin"></i
								></a>
							</div>
						</div>

						<div class="col-lg-2 col-6 footer-links">
							<h4>Useful Links</h4>
							<ul>
								<li>
									<i class="bi bi-chevron-right"></i>
									<a href="#">Terms of service</a>
								</li>
								<li>
									<i class="bi bi-chevron-right"></i>
									<a href="#">Privacy policy</a>
								</li>
								<li>
									<i class="bi bi-chevron-right"></i>
									<a href="#">Cookie policy</a>
								</li>
							</ul>
						</div>

						<div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
							<h4>Contact Us</h4>
							<p>
								ALAO <br />
								New York, NY 022<br />
								United States <br /><br />
								<strong>Booking Line:</strong> +44 7404 4244 75<br />
								<strong>Email:</strong> alao@alaorecruits.com<br />
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="copyright">
					Copyright &copy; 2023
					<strong><span>D ALAO RECRUITMENT LTD</span></strong
					>.
				</div>
			</div>
		</footer>
		<!-- End Footer -->

		<a
			href="#"
			class="back-to-top d-flex align-items-center justify-content-center"
			><i class="bi bi-arrow-up-short"></i
		></a>

		<!-- Vendor JS Files -->
		<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
		<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
		<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
		<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
		<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>

		<!-- Template Main JS File -->
		<script src="{% static 'assets/js/main.js' %}"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script>
			document.addEventListener("DOMContentLoaded", function () {
				let subscribeButton = document.querySelector('input[type="submit"]');
				subscribeButton.addEventListener("click", function (event) {
					event.preventDefault(); // Prevents the form from submitting

					let emailInput = document.querySelector('input[name="email"]').value;

					var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
					if (emailInput !== "" && emailPattern.test(emailInput)) {
						console.log(emailInput);
						axios
							.post(
								"/newsletter/",
								{ email: emailInput },
								{
									headers: {
										"X-CSRFToken": "{{ csrf_token }}",
									},
								}
							)
							.then((response) => {})
							.catch((error) => {
								// Handle any errors that occurred during the request
							});
					}
				});
			});
		</script>

		<script>
			const trashIcons = document.querySelectorAll(".bi.bi-trash3");
			trashIcons.forEach((icon) => {
				icon.addEventListener("click", () => {
					const commentKey = icon.getAttribute("data_key");

					//console.log("delete icon clicked", commentKey);

					axios
						.post("/delete-comment/", {
							data: commentKey,
						})
						.then((response) => {
							//console.log(response.data);
							location.reload();
						})
						.catch((error) => {
							console.log(error);
						});
				});
			});
		</script>
		<script>
			const trashBlog = document.querySelectorAll(".bit");
			trashBlog.forEach((icon) => {
				icon.addEventListener("click", () => {
					const newsKey = icon.getAttribute("data_key");

					console.log("blog icon clicked", newsKey);
					axios
						.post("/delete-blog/", {
							data: newsKey,
						})
						.then((response) => {
							//console.log(response.data);
							location.reload()
						})
						.catch((error) => {
							console.log(error);
						});
				});
			});
		</script>
	</body>
</html>
